@import './base.css';

body {
  background-color: var(--tg-theme-bg-color);
}

h1,
p,
h2,
h3 {
  color: var(--tg-theme-text-color);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  color: var(--tg-theme-button-color);
  position: relative;
}
.loader::before,
.loader::after {
  content: '';
  position: absolute;
  inset: 0;
  background:
    linear-gradient(currentColor 0 0) 0 calc(var(--s, 0) * -100%) / 100% calc(100% / 3),
    repeating-linear-gradient(90deg, currentColor 0 25%, #0000 0 50%) calc(var(--s, 0) * 100%) 50% /
      calc(4 * 100% / 3) calc(100% / 3);
  background-repeat: no-repeat;
  animation: l26 2s infinite;
}
.loader::after {
  --s: -1;
}
@keyframes l26 {
  0%,
  10% {
    transform: translateY(calc(var(--s, 1) * 0));
    background-position:
      0 calc(var(--s, 0) * -100%),
      calc(var(--s, 0) * 100%) 50%;
  }
  33% {
    transform: translateY(calc(var(--s, 1) * -20%));
    background-position:
      0 calc(var(--s, 0) * -100%),
      calc(var(--s, 0) * 100%) 50%;
  }
  66% {
    transform: translateY(calc(var(--s, 1) * -20%));
    background-position:
      0 calc(var(--s, 0) * -100%),
      calc(var(--s, 0) * 100% + 100%) 50%;
  }
  90%,
  100% {
    transform: translateY(calc(var(--s, 1) * 0));
    background-position:
      0 calc(var(--s, 0) * -100%),
      calc(var(--s, 0) * 100% + 100%) 50%;
  }
}

/* HTML: <div class="loader"></div> */
.loader2 {
  width: 50px;
  aspect-ratio: 1;
  --c: no-repeat radial-gradient(farthest-side, var(--tg-theme-button-color) 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}
.loader2::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, var(--tg-theme-button-color) 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}
@keyframes l18 {
  100% {
    transform: rotate(0.5turn);
  }
}
